html, body {
  margin: 0;
}

.main-form {
  margin-bottom: 10px;
}

.user-container {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px 10px 0;
}

.user-container .main-block {
  border: 1px solid green;
  margin: 10px 0 0 10px;
}

.user-container .main-block .user-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.user-container .main-block .user-info-block .initials {
  padding-right: 10px;
}

.user-container .main-block .user-info-block .user-avatar {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.user-container .main-block .user-info-block .user-avatar img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */